.MovieDetails {
  display: grid;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  gap:3rem;
  Margin-top:20px;


  /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr));  */


}

.Imagedisplay{
  height: 650px ;
  width: 400px ;
  object-fit: cover;

}

.MovieBlock{
  padding: 20px;
}

.MovieSummary{
display:flex;
justify-content: space-between;




}

.CardHolder{
  padding-bottom:40px;
  display:flex;

}
.AddMovieContainer{
    display :flex;
  flex-direction: column;
  padding:20px;

}


input{
  align:center;
  width: 60%;
  height:30px;
  Margin-left:10%;


}


.AddMoviebtn{

  color:black;
  background-color:rgb(213, 213, 213);
  width:20%;
  height:30px;
  border-radius:5px;
  Margin-left:25%;
}


.Movie-traier-Container{
 Padding:20px;
 margin:30px;

}

.DescBox{
  height: 190px;
}

.game-box{
  height:130px;
  background :white;
  color:black;
  font-size:160px;
  display:flex;
  align-items:center;
  justify-content:center;
  border: 1px solid black;
  cursor: pointer;
}

.game-box:hover{
  background:grey;
}

.board{

  display : grid;
  grid-template-columns: repeat(3,1fr);
  max-width:500px;
}

.Game{

margin-left: 30%;

}

.Game h1{}

.RestartButton{
  Padding-top:10px;
  padding-left:21%;
}


