.MovieDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  Margin: 50px;
  gap:2rem;

}

.Imagedisplay{
  height: 650px ;
  width: 400px ;
  object-fit: cover;

}

.MovieBlock{
  padding: 20px;
}

.MovieSummary{
display:flex;
justify-content: space-between;
margin-right: 35px;
}

.AddMovieContainer{
    display :flex;
  flex-direction: column;
  padding:20px;
}

input{
  align:center;
  width: 60%;
  height:30px;
  Margin-left:10%;


}


.AddMoviebtn{

  color:black;
  background-color:rgb(213, 213, 213);
  width:20%;
  height:30px;
  border-radius:5px;
  Margin-left:25%;

}
